.features-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &__icon {
    	margin-bottom: 30px;
    	height: 36px;
    	width: 36px;

    	@media screen and (max-width: 1960px) {
    		margin-bottom: calc(15px + 15 * (100vw - 1440px) / (1960 - 1440));
    		height: calc(30px + 6 * (100vw - 1440px) / (1960 - 1440));
    		width: calc(30px + 6 * (100vw - 1440px) / (1960 - 1440));
    	}

    	@media screen and (max-width: 1440px) {
    		margin-bottom: calc(15px + 5 * (100vw - 768px) / (1440 - 768));
    		height: calc(30px + 6 * (100vw - 768px) / (1440 - 768));
    		width: calc(30px + 6 * (100vw - 768px) / (1440 - 768));
    	}

    	@media screen and (max-width: 768px) {
    		margin-bottom: calc(15px + 5 * (100vw - 480px) / (768 - 480));
    		height: calc(30px + 6 * (100vw - 480px) / (768 - 480));
    		width: calc(30px + 6 * (100vw - 480px) / (768 - 480));
    	}

    	@media screen and (max-width: 480px) {
    		margin-bottom: calc(15px + 5 * (100vw - 320px) / (480 - 320));
    		height: calc(30px + 6 * (100vw - 320px) / (480 - 320));
    		width: calc(30px + 6 * (100vw - 320px) / (480 - 320));
    	}
    }

    &__title {
    	margin-bottom: 30px;
    	line-height: 1.2;
    	font-family: 'Playfair Display';
    	font-weight: 600;
    	font-size: 24px;
    	color: rgba(var(--color-04));

    	@media screen and (max-width: 1960px) {
    		margin-bottom: calc(15px + 15 * (100vw - 1440px) / (1960 - 1440));
    		font-size: calc(18px + 6 * (100vw - 1440px) / (1960 - 1440));
    	}

    	@media screen and (max-width: 1440px) {
    		margin-bottom: calc(15px + 5 * (100vw - 768px) / (1440 - 768));
    		font-size: calc(18px + 6 * (100vw - 768px) / (1440 - 768));
    	}

    	@media screen and (max-width: 768px) {
    		margin-bottom: calc(15px + 5 * (100vw - 480px) / (768 - 480));
    		font-size: calc(18px + 6 * (100vw - 480px) / (768 - 480));
    	}

    	@media screen and (max-width: 480px) {
    		margin-bottom: calc(15px + 5 * (100vw - 320px) / (480 - 320));
    		font-size: calc(20px + 4 * (100vw - 320px) / (480 - 320));
    	}
    }

    &__text {
    	letter-spacing: 0.02em;
    	line-height: 1.5;
    	font-weight: 400;
    	font-size: 16px;
    	color: rgba(var(--color-05));
    }
}