.support-link {
    line-height: 1.2;
    font-weight: 400;
    font-size: 18px;
    color: rgba(var(--color-01));

    @media screen and (max-width: 1960px) {
    	font-size: calc(16px + 2 * (100vw - 1024px) / (1960 - 1024));
    }

    @media screen and (max-width: 1024px) {
    	font-size: calc(18px + 4 * (100vw - 320px) / (1024 - 320));
    }

    & span {
    	font-weight: 700;
    }
}