:root {
    --greater-container-width: 1960px;
    --default-container-width: 1610px;
    --container-padding-value: 20px;
    --header-source-height: 100px;
    --header-mobile-height: 70px;
    --color-01: 0, 0, 0;        /* #000000 */
    --color-02: 22, 22, 12;     /* #16160c */
    --color-03: 32, 31, 31;     /* #201f1f */
    --color-04: 34, 34, 34;     /* #222222 */
    --color-05: 116, 116, 116;  /* #747474 */
    --color-06: 148, 148, 148;  /* #949494 */
    --color-07: 153, 153, 153;  /* #999999 */
    --color-08: 165, 165, 165;  /* #a5a5a5 */
    --color-09: 214, 214, 214;  /* #d6d6d6 */
    --color-10: 216, 216, 216;  /* #d8d8d8 */
    --color-11: 237, 237, 239;  /* #ededef */
    --color-12: 241, 241, 241;  /* #f1f1f1 */
    --color-13: 244, 244, 244;  /* #f4f4f4 */
    --color-14: 248, 248, 248;  /* #f8f8f8 */
    --color-15: 255, 255, 255;  /* #ffffff */
    --color-16: 237, 137, 57;   /* #ed8939 */
}