@font-face {
    font-display: swap;
    font-family: 'Imbue';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/imbue/700/imbue_700.woff2') format('woff2'),
    url('../assets/fonts/imbue/700/imbue_700.woff') format('woff'),
    url('../assets/fonts/imbue/700/imbue_700.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Imbue';
    font-weight: 900;
    font-style: normal;
    src: url('../assets/fonts/imbue/900/imbue_900.woff2') format('woff2'),
    url('../assets/fonts/imbue/900/imbue_900.woff') format('woff'),
    url('../assets/fonts/imbue/900/imbue_900.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/jost/400/jost_400.woff2') format('woff2'),
    url('../assets/fonts/jost/400/jost_400.woff') format('woff'),
    url('../assets/fonts/jost/400/jost_400.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/jost/600/jost_600.woff2') format('woff2'),
    url('../assets/fonts/jost/600/jost_600.woff') format('woff'),
    url('../assets/fonts/jost/600/jost_600.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/jost/700/jost_700.woff2') format('woff2'),
    url('../assets/fonts/jost/700/jost_700.woff') format('woff'),
    url('../assets/fonts/jost/700/jost_700.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/playfair-display/400/playfair-display_400.woff2') format('woff2'),
    url('../assets/fonts/playfair-display/400/playfair-display_400.woff') format('woff'),
    url('../assets/fonts/playfair-display/400/playfair-display_400.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: italic;
    src: url('../assets/fonts/playfair-display/400i/playfair-display_400i.woff2') format('woff2'),
    url('../assets/fonts/playfair-display/400i/playfair-display_400i.woff') format('woff'),
    url('../assets/fonts/playfair-display/400i/playfair-display_400i.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Playfair Display';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/playfair-display/600/playfair-display_600.woff2') format('woff2'),
    url('../assets/fonts/playfair-display/600/playfair-display_600.woff') format('woff'),
    url('../assets/fonts/playfair-display/600/playfair-display_600.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/playfair-display/700/playfair-display_700.woff2') format('woff2'),
    url('../assets/fonts/playfair-display/700/playfair-display_700.woff') format('woff'),
    url('../assets/fonts/playfair-display/700/playfair-display_700.ttf') format('truetype');
}