.subscribe-form-button {
    padding: 20px 40px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(var(--color-04));

    @media screen and (max-width: 1610px) {
    	padding-top: calc(12px + 8 * (100vw - 320px) / (1610 - 320));
    	padding-right: calc(20px + 20 * (100vw - 320px) / (1610 - 320));
    	padding-bottom: calc(12px + 8 * (100vw - 320px) / (1610 - 320));
    	padding-left: calc(20px + 20 * (100vw - 320px) / (1610 - 320));
    }

    & span {
    	text-align: center;
    	text-transform: uppercase;
    	letter-spacing: 0.06em;
    	line-height: 1.2;
    	font-weight: 600;
    	font-size: 16px;
    	color: rgba(var(--color-15));

    	@media screen and (max-width: 1610px) {
    		font-size: calc(12px + 4 * (100vw - 320px) / (1610 - 320));
    	}
    }
}